html {
  box-sizing: border-box;
}
body {
  background-image: url(../assets/images/stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: 'Iceland', cursive;
}

h1 {
  font-size: 63px;
}

#galaxy {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
} 

.planetWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputWrapper {
  max-width: 750px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 150px;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 0;
}

p {
  margin-top: 5px;
  font-size: 25px;
  max-width: 300px;
}

input {
  padding: 10px 25px;
  font-size: 12px;
  flex: 1;
}

button {
  padding: 10px 40px;
  flex: 1;
}

/* .hidden {
  display: none;
} */